body {
    font:12px/1.4 Verdana,Arial; background:#eee; height:100%; margin:25px 0; padding: 10px;
  }
  
  h1 {
    font:24px Georgia,Verdana; margin: 5px; padding: 10px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  button { 
    margin:10px;
  }